.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    background-color: var(--color-grey-light-2);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%;
}

.hotel-view {
    background-color: orangered;
    flex: 1;
}
